#parse('/src/resources/velocity/tsl.vm')

#pageStart()
	<head>
		<title>fooBar Page</title>
		<meta name = "foo" content = "bar" />
	</head>
	<body>
		<form action = "" method = "post">
			Test content
		</form>
	</body>
#pageEnd()